@charset "UTF-8";

@font-face {
    font-family: "LatoLatinWebThin";
    src: url("./LatoLatin-Thin.ttf") format("truetype");
}

body {
    color: #444444;
    max-width: 720px;
    min-height: 960px;
    padding: 48px 48px;
    background: #FFFFFF;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-family: LatoLatinWebThin;
    font-weight: 300;
    position: relative;
}

a:link, a:visited, a:active {
    color: #444444;
}

a:hover {
    color: #E9BF28;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 40px;
}

[aria-labelledby="biography"] p {
    margin-bottom: 40px;
}

.link-author {
    display: block;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
}

.text-vertical-left {
    text-align: left;
    vertical-align: middle;
}

.text-vertical-right {
    text-align: right;
    vertical-align: middle;
}

.text-footer {
    color: #E9BF28;
    margin-top: 70px;
}

.border-yellow {
    border-left: 4px solid #E9BF28;
}

.block-content-contacts {
    display: inline-block;
    height: 30px;
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    width: 40%;
}

.block-content-main {
    display: inline-block;
    padding-top: 40px;
    padding: 20px 20px 20px 20px;
    width: 42%;
}

.image-frame {
    box-shadow: 10px 10px 5px #CCCCCC;
    -moz-box-shadow: 10px 10px 5px #CCCCCC;
    -webkit-box-shadow: 10px 10px 5px #CCCCCC;
    -khtml-box-shadow: 10px 10px 5px #CCCCCC;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

.title-section {
    border: 1px solid #E9BF28;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

.bold {
    font-weight: bold;
}

.width-170 {
    width: 170px;
}

.width-240 {
    width: 240px;
}
